:root {
    @apply font-serif;
    font-family: 'Noto Serif SC', serif;
    font-size: 18px;
}

.container {
    @apply max-w-4xl m-auto;
}

.font-kai {
    font-family: "KaiTi", "KaiTiGB2312", "STKaiti";
}

ul {
    @apply ml-6;
}

li {
    @apply list-item list-disc;
}

.date {
    @apply float-end text-sm font-light text-gray-500;
}

.english .font-kai {
    @apply italic font-serif;
}

.english {
    @apply font-serif;
}

.link {
    @apply underline;
}