---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Section from "../../components/Section.astro";

import yml from "./../config.en.yml";
---

<Layout title="My CV">
  <main class="container">
    <Header obj={yml.metadata} />
    {yml.sections.map((section: SectionObject) => <Section obj={section} />)}
  </main>
</Layout>

<style>
  :root {
    font-size: 16px;
  }

  :global(.font-kai) {
    @apply font-serif italic;
  }
</style>
