---
import { getEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("cv");
  return blogEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import LoadingCover from "../components/LoadingCover";

const { entry } = Astro.props;

const data = await getEntry(entry);
---

<Layout title={data.data.language === "zh" ? " 求职简历" : " Resume"}>
  <main class="container">
    <LoadingCover />
    <Header metadata={data.data.metadata} />
    {
      data.data.sections.map((section: Section) => (
        <Section section={section} />
      ))
    }
  </main>
</Layout>
