---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";

import yml from "./config.yml";
---

<Layout title="My CV">
  <main class="container">
    <Header obj={yml.metadata} />
    {yml.sections.map((section: SectionObject) => <Section obj={section} />)}
  </main>
</Layout>
