---
import Layout from "../layouts/Layout.astro";
import LoadingCover from "../components/LoadingCover";
---

<Layout title="我的简历">
  <main class="h-svh flex flex-col justify-center items-center px-4">
    <LoadingCover />
    <h3 class="text-2xl drop-shadow-xl font-black font-ding text-gray-500">
      @SkyWT
    </h3>
    <h1
      class="text-6xl drop-shadow-xl font-black mt-6 font-ding text-[#007fff]"
    >
      持续进步·创造价值
    </h1>
    <div class="mt-8 flex">
      <a href="/general" target="_self" class="button"> 中文 </a>
      <a href="/en" target="_self" class="button"> English </a>
    </div>
  </main>
  <footer class="w-full fixed bottom-0 text-center my-4 text-gray-400">
    <p>
      © 2017-2024
      <a href="https://skywt.cn/" class="footerlink">SkyWT</a> /
      <a href="https://github.com/Skywt2003/WebCV" class="footerlink">WebCV</a> /
      <a href="https://beian.miit.gov.cn/" class="footerlink" target="_blank"
        >浙ICP备2021019606号</a
      >
    </p>
  </footer>
</Layout>

<style>
  .fade-in {
    @apply animate-fade-up animate-ease-in-out animate-duration-[800ms];
  }

  .button {
    @apply w-28 text-center;
    @apply block mx-4 p-2 transition-all bg-white hover:bg-gray-200;
    @apply shadow-lg shadow-gray-200 hover:shadow-none;
    @apply active:scale-95;
  }

  .footerlink {
    @apply hover:underline;
  }
</style>
