---
interface Props {
  obj: ItemObject;
}

const { obj } = Astro.props;
---

<div>
  <span class="font-semibold mr-4">{obj.title}</span>
  <span class="font-kai">{obj.subtitle}{obj.note && "^"}</span>
  <span class="date">{obj.date}</span>
  {
    obj.note && (
      <span class="font-light text-sm text-gray-500 ml-4 block">
        ^<Fragment set:html={obj.note} />
      </span>
    )
  }
</div>

<style>
  div {
    @apply my-1;
  }
</style>
