---
import ItemsCopy from "./Items.astro";

interface Props {
  items: (string | string[])[];
}

const { items } = Astro.props;
---

<ul>
  {
    items.map((item) =>
      Array.isArray(item) ? (
        <ItemsCopy items={item} />
      ) : (
        <li>{<Fragment set:html={item} />}</li>
      ),
    )
  }
</ul>

<style lang="scss">
  ul {
    @apply ml-6;
  }

  li {
    @apply list-item list-disc;
  }
</style>
