---
interface Props {
  slug: string;
}

const { slug } = Astro.props;

import yml from "./config.yml";

const objs = yml.objects.items;
const obj: Item = objs.find((o: Item) => o.slug == slug);

if (!obj) {
  console.log("ERROR: Item " + slug + " not found.");
}
---

<div class="mt-1">
  <span class="font-semibold mr-4">{obj.title}</span>
  <span class="font-kai">{obj.subtitle}{obj.note && "^"}</span>
  <span class="date">{obj.date}</span>
  {
    obj.note && (
      <span class="font-light text-sm text-gray-500 ml-4 block">
        ^<Fragment set:html={obj.note} />
      </span>
    )
  }
</div>
