---
import Project from "./Project.astro";
import Table from "./Table.astro";

interface Props {
  section: Section;
}

const { section } = Astro.props;
---

<div class="section">
  <h2 class="title">
    {section.title}
  </h2>
  <hr class="divider" />
  {
    section.projects &&
      section.projects.map((project) => <Project project={project} />)
  }
  {section.table && <Table table={section.table} />}
</div>

<style lang="scss">
  .section {
    @apply my-4;
    .title {
      @apply font-extrabold text-2xl uppercase font-ding text-[#007fff];
    }
    .divider {
      @apply mt-1 border-[#007fff];
    }
  }
</style>
