---
import Project from "./Project.astro";
import Table from "./Table.astro";

interface Props {
  section: Section;
}

const { section } = Astro.props;
---

<div class="my-4">
  <h2 class="font-extrabold text-2xl uppercase font-ding text-[#007fff]">
    {section.title}
  </h2>
  {
    section.projects &&
      section.projects.map((project) => <Project project={project} />)
  }
  {section.table && <Table />}
</div>
