---
import Icon from "./Icon.astro";

interface Props {
  techs: Tech[];
  class?: string;
}

const { techs, class: className = "" } = Astro.props;
---

<div class={["flex"].concat(className.split(" ")).join(" ")}>
  {
    techs.map((tech) => (
      <div class="mx-1 text-sm font-bold">
        {tech.icon && <Icon name={tech.icon} />}
        {tech.name}
      </div>
    ))
  }
</div>
